<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg" href="/images/bolsoys10.svg"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/bolsoys10.png"/>

    <link rel="stylesheet" href="/styles/home.css"/>
    <!-- partials -->
    <link rel="stylesheet" href="/styles/partials/header.css"/>
    <link rel="stylesheet" href="/styles/partials/mission.css"/>
    <link rel="stylesheet" href="/styles/partials/products.css"/>
    <link rel="stylesheet" href="/styles/partials/sample-gallery.css"/>
    <link rel="stylesheet" href="/styles/partials/footer.css"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsoy's | home</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>

    <%- include ("./partials/mission.ejs") %>

    <%- include ("./partials/products.ejs") %>

    <%- include ("./partials/sample_gallery.ejs") %>

    <div class="main-content"></div>

    <%- include ("./partials/footer.ejs") %>
</body>
</html>